@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');:root {
  /*font-family:  system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #646cff;
  --color-success: #5a8049;
  --color-text: #ececf1;

  --color-bg: #343541;
  --color-bg-body: #242424;
  --color-bg-shade: #21232a;

  --spacing-md: 0.5rem;

  --border-radius: 4px;
  --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  --response-after-height: 140px; /* is set dynamically in React component */

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;

}

.main {
  padding: 2rem;

}

.app {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  gap: 1rem;
  min-height: 100dvh; /* dynamic viewport height also for mobile  */
  max-width: 1280px;
  min-width: 320px;
  padding: 2rem;
  margin: 0 auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

pre {
  margin-top: unset;
  font-family: inherit;
  white-space: pre-wrap;
}

.response {
  display: grid;
  grid-template-columns: max-content 1fr;
  margin-top: 100px;
  grid-gap: 1rem;
  width: 100%;
}

.response::after {
  content: '';
  height: var(--response-after-height); /* to allow scroll to bottom for response section */
}

.response__role {
  font-size: 0.9rem;
  padding: var(--spacing-md);
  border-radius: var(--border-radius);
}

.response__sticky {
  position: sticky;
  top: 10px;
}

.response__content-box {
  border-radius: var(--border-radius);

  max-width: 100%;
  overflow: hidden;
}

.response__content-box--user {
  background-color: var(--color-bg-shade);
}

.response__content-box--bot {
  background-color: var(--color-bg);
}

.response__text {
  padding: var(--spacing-md);
  font-size: .9rem;

}

.response__meta-data {
  font-size: 0.9rem;
  padding: var(--spacing-md);
  background-color: var(--color-bg-shade);
}

.form {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1.5rem;
  transform: translateX(-50%);
  /* From https://css.glass */
  background: rgba(25, 24, 24, 0.98);
  border-radius: 16px 16px 0 0;
  -webkit-backdrop-filter: blur(7.8px);
}

.form__textarea {
  flex: 1;
  font-family: inherit;
  color: var(--color-text);
  padding: 16px;
  font-size: 0.9rem;
  margin-right: 22px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 16px;
  background-color: var(--color-bg-body);
  max-height: 200px;
  resize: none;
  overflow: auto;
}

/*.form__textarea:focus {*/
/*  border: 1px solid var(--color-primary);*/
/*}*/

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.button {
  font-family: inherit;
  color: inherit;
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid #3e3f4b;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  transition: border-color 0.3s;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:hover {
  border-color: var(--color-primary);
}

.button:focus {
  border: 1px solid var(--color-primary);
}

.button--abort {
  position: fixed;
  left: 50%;
  bottom: 0;
  height: 50px;
  width: 200px;
  border-radius: unset;
  transform: translate(-50%, 100%);
  transition: transform 0.3s;
  background-color: var(--color-bg-shade);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: var(--box-shadow);
}

.button--abort.active {
  transform: translate(-50%, 0);
}

.checkbox {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  height: 1px;
  width: 1px;
  clip-path: path('M 0 0');
}

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: var(--color-bg);
  cursor: inherit;
}

.checkbox__label::before {
  content: '';
  height: 16px;
  width: 16px;
  border: 1px solid var(--color-text);
}

.checkbox__label::after {
  content: '';
  position: absolute;
  top: 13px;
  height: 4px;
  width: 10px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 11px;
}

.checkbox__input + .checkbox__label::after {
  opacity: 0;
  transition: opacity 0.3s;
}

.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}

.checkbox__input:focus + .checkbox__label {
  border-color: var(--color-primary);
}

.code-highlight {
  padding: 3px 6px;
  background-color: var(--color-bg-shade);
}

.side_bar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999999;
  padding: 1rem;
  /* From https://css.glass */
  background: rgba(36, 36, 36, 0.98);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
}

.side_bar__open {
  left: 0; /* end at the start of the view */
}

.side_bar__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.side_bar__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.side_bar__content__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: var(--border-radius);
  padding: 1rem;
  border: #3e3f4b 1px solid;
}

.toggle_icon {
  width: 2rem;
  height: auto;
  padding: 0.1rem;
  cursor: pointer;
  border-radius: var(--border-radius);
}

.nav_bar {
  position: fixed;
  max-width: 1280px;
  width: 90%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: auto;
  /* From https://css.glass */
  background: rgba(25, 24, 24, 0.91);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7.8px);
}

.dropdown {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 0;
  margin-right: 5px;
  top: 90px;
}

.dropdown__content {
  position: relative;

  background-color: var(--color-bg-body);
  min-width: 160px;
  box-shadow: var(--box-shadow);
  z-index: 1;
  border-radius: var(--border-radius);
}

.dropdown__content.show {
  display: block;
}

.dropdown__content__item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown__content__item:hover {
  background-color: var(--color-bg-shade);
}

.agent_selector {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.selected_agent {
  color: var(--color-primary);
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  gap: 0.5rem;
}

